*{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 1440px;
}

.module{

    display: flex;
    justify-content: center;
    max-height: 50vh;
    width: 100%;
}
.image{
    margin-top: 100px;
    width: 505px;
    max-height: 330px;
}
.form{
    margin-top: 100px;
    max-width: 380px;
    padding:50px;
    display: flex;
    flex-direction: column;

}
.form h2{
    padding: 10px;
    color:#121212;
}

.form p{
    width: 380px;
    color:#121212;
}

.form button{
    max-width: 128px;
    height: 48px;
    background: #e4c1ae;
    color: #FFFFFF;
    border:none;
    border-radius: 32px;
    padding: 16px 40px;
}
.form button:hover{
    background: #FFFFFF;
    color: #e4c1ae;
    border:1px solid #e4c1ae;
}

.popup{
    display: none;
    padding: 40px;
    position: relative;
    z-index: 10001 ;
    width: 100%;
    height: 100%;
    max-width: 920px;
    max-height: 210px;
    margin: 25px auto;
    background: #FFFFFF;
    line-height: 50px;
}

.show{
    display: block;
}

.close-btn{
   position: absolute ;
   top:10px;
   right:10px;
}